body {
  font-family: "Arimo", sans-serif;
  background-color: rgb(249, 249, 249);
  margin: 0%;
}

a {
  color: rgb(24, 24, 24);
  text-decoration: none;
}

.container {
  font-size: 14px;
  word-spacing: 20px;
  background-color: rgb(255, 255, 255);
  max-width: 100%;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: 0 8px 6px -6px rgb(224, 224, 224);
}

#logo {
  max-width: 70px;
  height: auto;
  left: 0px;
  right: 0px;
  margin-top: -9px;
  float: left;
}

#myImage {
  max-width: 65px;
  height: auto;
  left: 0px;
  right: 0px;
}

#myImage2 {
  max-width: 100%;
}

.bodyCon {
  display: flex;
  width: 100%;
}
.rightCol {
  flex: 3;
  padding-right: 150px;
  padding-top: 45px;
}
.leftCol {
  padding-top: 115px;
  margin-right: 30px;
  margin-left: 150px;
  padding-right: 20px;
  flex: 4;
}
p:first-child {
  margin-block-start: 0;
}

.bodyCon {
  padding-top: 40px;
}

h1 {
  font-weight: bold;
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 18px;
  color: rgb(40, 146, 93);
}

.parag {
  font-size: 18px;
  font-style: normal;
  line-height: 27px;
}

ul.info {
  display: flex;
  list-style-type: none;
  padding-inline-start: 0px;
  font-size: 18px;
}

footer {
  background-color: rgb(40, 146, 93);
  color: white;
  padding: 20px;
  text-align: center;
  margin-top: 84px;
}

.mainpic {
  width: 100%;
  margin: auto;
  overflow: hidden;
}
